

<div class="span3 bs-docs-sidebar" >
    <ul class="nav nav-list bs-docs-sidenav ">
        <li class="active" style=" background-color: #32a850;"><a href="@Url.Action("Index", "Home")" style="color: #ffffff;"><i class="fa fa-database"></i>Admin</a></li>


        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-database"></i>Dashboard</a></li>
        <li class=""><a href="@Url.Action("GetAllSellerJquery", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Add By DropDown </a></li>
        <li class=""><a href="@Url.Action("GetAllSellerJquery", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Jquery Table</a></li>

        <hr />
        <li class="active" style=" background-color: #42bcf5;"><a href="@Url.Action("Index", "Home")" style="color: #ffffff;"><i class="fa fa-database"></i>Administration</a></li>
        <li class=""><a href="@Url.Action("Create", "Home")"><i class="fa fa-plus"></i>Add New Service</a></li>
        <li class=""><a href="@Url.Action("Index", "Public")"><i class="fa fa-history" aria-hidden="true"></i>Remove User</a></li>
        <li class=""><a href="@Url.Action("DeptAdminAttendance", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Add New Category</a></li>
        <li class=""><a href="@Url.Action("RevenueReportCollectorate", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Add New State</a></li>
        <li class=""><a href="@Url.Action("AllReports", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Add New District </a></li>
        <hr />

        <li class="active" style=" background-color: #42bcf5;"><a href="@Url.Action("Index", "Home")" style="color: #ffffff;"><i class="fa fa-database"></i>Statistics</a></li>

        <li class=""><a href="@Url.Action("MasterReport", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Calculate User Revenue</a></li>
        <li class=""><a href="@Url.Action("RevenueReport", "Home")"><i class="fa fa-history" aria-hidden="true"></i>Today Activity</a></li>
        <li class=""><a href="@Url.Action("Index", "Public")"><i class="fa fa-history" aria-hidden="true"></i>All Products View</a></li>



    </ul>    

</div>



